
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 27% 14%;
    --foreground: 0 0% 100%;

    --card: 230 27% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 230 27% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 252 84% 74%;
    --primary-foreground: 0 0% 100%;

    --secondary: 267 24% 54%;
    --secondary-foreground: 0 0% 100%;

    --muted: 267 28% 50%;
    --muted-foreground: 0 0% 100%;

    --accent: 267 100% 91%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 267 24% 54%;
    --input: 267 24% 54%;
    --ring: 252 84% 74%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
